@model Expense_manager.Models.Category

@{
    ViewData["PageTitle"] = Model.CategoryId == 0 ? "Create New Category" : "Edit Category";
   
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="CreateAndEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn" for="radioleft">Expense</label>
                        <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn" for="radiomiddle">Income</label>
                    </div>
                </div>
                <div class="mb-3">
                    <ejs-textbox ejs-for="title" id="title" name="title" placeholder="title" ejs-value="Model.title" floatLabelType="Always"></ejs-textbox>

                    <span asp-validation-for="title" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox ejs-for="icon" id="icon" name="icon" placeholder="icon" ejs-value="@Model.icon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="icon" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <ejs-button id="successbtn" cssClass="e-success" content="Submit"></ejs-button>
                </div>
            </form>

        </div>
       
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b30">
    <span class="e-icons e-edit"></span>
    </div>
    </div>
</div>

<div class="justify-content-center">
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
*@